.selected-categories {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-left: 2em;

  &__chips-container {
    margin-right: 1em;
  }

  &__category-chip {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.selected-categories--fixed {
  min-height: 2em;
}

.MuiButton-root.selected-categories__remove-all-btn {
  text-transform: none;
}
